@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    will-change: auto;
  }

  .border-color {
    border-color: rgba(100, 116, 139, 0.8);
  }

  .rotate {
    transform: rotate(0.5turn);
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    will-change: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}