@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    will-change: auto;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    will-change: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .border-color {
    border-color: rgba(100, 116, 139, 0.8);
  }

  .meme:hover>.love {
    background-color: cornsilk;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }

}